@using Foundation.Core
@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Views.Customer

@model PensionInsurance.Web.Views.Customer.CustomerDetailViewModel

<div class="row margin-top-15 margin-bottom-10">
    <div class="col-md-2">
        <!-- PORTLET MAIN -->
        <div class="light profile-sidebar-portlet">
            <div class="profile-userpic">
                @if (string.IsNullOrWhiteSpace(Model.CustomerInfo.AvatarThumbnail))
                {
                    <img src="@Url.Content("~/assets/layouts/layout/img/confirm.png")" class="img-responsive" alt="">
                }
                else
                {
                    <img src="@Url.Content(Model.CustomerInfo.AvatarThumbnail)" class="img-responsive" alt="">
                }

            </div>
        </div>
        <!-- END PORTLET MAIN -->
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3 margin-top-10">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="row static-info">
                        <div class="col-md-6 name"> 客户名称: </div>
                        <div class="col-md-6 value">
                            @Model.CustomerInfo.Name
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-10">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-4 name"> 年龄: </div>
                        <div class="col-md-8 value">
                            @Model.CustomerInfo.Birthday.ToAge()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="btn-toolbar">
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户信息管理, Permission.编辑))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> 客户
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" class="edit-customer">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="edit-customer-avatar">
                                        <i class="fa fa-file-photo-o"></i> 照片
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    @if (PensionInsurance.Shared.WebAppContext.Current.User.HasPermission(ModuleType.客户合同管理, Permission.新增))
                    {
                        <div class="btn-group">
                            <a class="btn green btn-sm contract-choose-template" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-folder"></i> 合同订立
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>