*/bin
*/obj
*/*.ncrunchproject
*/*.csproj.user
packages
*.DotSettings.user
*.suo
VehicleManagement.Web/nhibernate-mappingss.hbm.xml
VehicleManagement.Web/nhibernate-mappingss.hbm.xml
VehicleManagement.Web/create-database.sql
VehicleManagement.Web/nhibernate-mappingss.hbm.xml
.vs
.nuget
PPM.Web/Attachments/

PPM.Web/upload/
PPM.Web/logs
PPM.Web/Properties/PublishProfiles/*.user
*.user
*.tmp
*.gitattributes
/PensionInsuranceApp/android/app/src/main
/PensionInsuranceApp/node_modules
PPM.Domain.Tests/Attachments/
PPM.WebApi/Attachments/
/PPM.Web.WeChatOfficial/Web.config
/PPM.Web.WeChatOfficial/Web.config
PensionInsuranceApp/release_ios/
/PPM.Web/assets/.vscode
PPM.WebApi/Web.config
PPM.Web/Web.config
PPM.WebApi/logs/
/PPM.WebApi/logs
PPM.Web/assets/upload/ddfao/
/PPM.Web.WeChatOfficial/assets/upload/ddfao
