@using PensionInsurance.Entities
@using PensionInsurance.Shared
@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Purchase.ConfirmViewModel
<form id="purchase-confirm-form" data-ajax="true" action="@Url.Action("Confirm", "Purchase")" method="POST" class="form-horizontal">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp sbold">确认采购单</span>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row">
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">选择项目</label>
                            <div class="col-md-9">
                                @Html.InputDropDown(x => Model.ProjectId, Model.ProjectList)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">选择类型</label>
                            <div class="col-md-9">
                                @*@Html.EnumTextDropDownListFor(m => m.OrderType, typeof(OrderType), true)*@
                                <input type="text" class="form-control" name="OrderType" value="@OrderType.食材采购单" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">确认采购开始时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-inline date-picker" id="PurchaseStartDate" name="PurchaseStartDate" data-date-format="yyyy-mm-dd"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">确认采购结束时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-inline date-picker" id="PurchaseEndDate" name="PurchaseEndDate" data-date-format="yyyy-mm-dd" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="errors alert alert-danger fade in" style="display: none;"></div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#PurchaseStartDate').datetimepicker({
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd",//日期格式
            autoclose: true,//选中关闭
            todayBtn: true,//今日按钮
            language: "zh-CN"
        });
        $('#PurchaseEndDate').datetimepicker({
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd",//日期格式
            autoclose: true,//选中关闭
            todayBtn: true,//今日按钮
            language: "zh-CN"
        });
    });
</script>