.we-chat-logo {
	width: 100%;
}

.we-chat-content {
	border: 1px solid #ddd; 
	padding: 24px 16px;
	background: #f8f8f8;
	margin: 16px 0px;
}

.btn-navigation {
	color: #999;
	background: #fff;
	border:solid 1px #ddd
}

.btn-orange {
	color:#fff;
	background:#df740d;
}

.border-radios-10 {
	border-radius: 10px;
}

.border-radios-20 {
	border-radius: 20px;
}

label {
	color:#df740d;
}

.width-full {
	width: 100%;
}

.quarter {
	width: 25%;
}

.gap {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-divider {
	border-top:solid 1px #ddd
}

.we-chat-li-img {
	width: 3%;
	margin-right: 8px;
}

.we-chat-li {
	margin-bottom: 8px;
}

.we-chat-li-font {
	color:#aaa
}

li a {
	color:#aaa
}

.reply-content {
    border: 1px solid #fcfcfc;
    padding: .6em;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.pr {
    position: relative;
}

.content-reply-box .arrow {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-color: transparent #fff transparent transparent;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    display: block;
    position: absolute;
    top: 8px;
    left: -12px;
    z-index: 999;
}

.margin-top-20 {
    margin-top: 20px;
}