@using PensionInsurance.Entities
@model PensionInsurance.Web.Views.TrackingResult.TrackingResultViewModel

@if (Model.WorkflowHistoryTrackingResults.Any())
{
    <div class="portlet-title title-style">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">审批流程</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            @foreach (var item in Model.WorkflowHistoryTrackingResults)
            {
                <div class="row margin-top-10" style="border-bottom: 1px solid #eef1f5;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">@item.GetTitle()</label>
                            <div class="col-md-8">
                                @item.User.RealName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                结果：@item.Result
                            </div>
                            <div class="col-md-6">
                                完成时间：@item.CreatedOn
                            </div>
                        </div>
                        <div class="row margin-top-10 margin-bottom-10">
                            <div class="col-md-12 text-left">
                                备注：@item.Description
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}