@using PensionInsurance.Web.Common
@model PensionInsurance.Web.Views.Import.IndexViewModel

<!-- BEGIN PAGE BAR -->
@section Breadcrumb{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">系统设置</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>数据导入</span>
            </li>
        </ul>
    </div>
}

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        操作成功！<a href="@Url.Action("Index","Import")" class="btn green btn">返回导入页面</a>
    </div>
</div>
