<html>

<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>手机登录</title>
    <meta name="keywords" content="{c:keywords}" />
    <meta name="description" content="{c:description}" />
    <link href="css/weui.css" rel="stylesheet" type="text/css" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <img src="image/logo.jpg" title="惠齐电力智能云平台" alt="惠齐电力智能云平台" width="85%">
    </h1>
    <div class="cont_width">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label"><img src="image/icon1.jpg" width="60%"></label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="账号/手机号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label"><img src="image/icon2.jpg" width="60%"></label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="密码">
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
                记住我
            </span>
        </label>
        <a href="javascript:;" class="weui-btn weui-btn_primary">登录</a>
    </div>


</body>