@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!-- END HEAD -->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href=@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
	<link href=@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css" />
	<link href=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css") rel="stylesheet" type="text/css" />
	<link href=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") rel="stylesheet" type="text/css" />
	
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link href=@Url.Content("~/assets/layouts/layout/css/layout.min.css") rel="stylesheet" type="text/css" />
	<link href=@Url.Content("~/assets/layouts/layout/css/weChatOfficial.css") rel="stylesheet" type="text/css" />
	<!-- END THEME LAYOUT STYLES -->
	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
	<script src=@Url.Content("~/assets/global/plugins/jquery.min.js") type="text/javascript"></script>
</head>
<body>
	@RenderBody()
<script src=@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js") type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src=@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script><script src=@Url.Content("~/assets/global/plugins/moment.min.js") type="text/javascript"></script>
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src=@Url.Content("~/assets/global/scripts/app.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/global/scripts/wechatofficial.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/layouts/layout/scripts/layout.min.js") type="text/javascript"></script>
</body>

</html>
