<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net451" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net451" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net451" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.1-beta1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="PDFsharp" version="1.50.4740-beta5" targetFramework="net451" />
  <package id="TemplateEngine.Docx" version="1.1.4" targetFramework="net451" />
</packages>