@{
	Layout = "~/Views/Shared/_WeChatOfficial.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<title>走进椿萱--一键导航</title>
</head>
<body>
<div class="container" id="content">
	<div class="page-logo">
		<img src="/assets/global/img/we-chat-official.png" alt="logo" class="we-chat-logo">
	</div>
	<div class="we-chat-content border-radios-10">
		<form>
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="btn-group btn-group-lg btn-group-solid border-radios-10 width-full">
						<button type="button" class="btn btn-navigation quarter" data-id="110100">北京</button>
						<button type="button" class="btn btn-navigation quarter" data-id="310100">上海</button>
						<button type="button" class="btn btn-navigation quarter" data-id="440100">广州</button>
						<button type="button" class="btn btn-navigation quarter" data-id="420100">武汉</button>
					</div>	
				</div>
				<div class="col-sm-12 form-group">
					<div class="btn-group btn-group-lg btn-group-solid border-radios-10 width-full">
						<button type="button" class="btn btn-navigation quarter" data-id="510100">成都</button>
						<button type="button" class="btn btn-navigation quarter" data-id="320500">苏州</button>
						<button type="button" class="btn btn-navigation quarter" data-id="210200">大连</button>
						<button type="button" class="btn btn-navigation quarter" data-id="120100">天津</button>
					</div>	
				</div>
				<input type="hidden" id="longitude" />
				<input type="hidden" id="latitude" />
				<div class="form-divider gap">
				</div>
				<ul id="apartmentUl">
					
				</ul>
				<div id="myAlert" class="hide alert alert-danger">
					<a href="#" class="close" onclick="$('#myAlert').addClass('hide');">&times;</a>
					<div class="text-center"><strong>该项目还在建设中。</strong></div>
				</div>
				<div class="col-md-6 text-center" style="height: 200px; margin-bottom: 12px; ">
					<div id="map" style="height:100%" class="baidu-maps"></div>
				</div>
			</div>
			
		</form>
	</div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9m1N4vGOG5EGhwVEhPc2PUdDRU2zv2Sd"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script>
	var map = new BMap.Map("map");
    var marker = new BMap.Marker(0, 0);
    var geolocation = new BMap.Geolocation();
    var currentPosition;
	geolocation.getCurrentPosition(function(r) {
	    if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            currentPosition = r.point;
	        defaultSelectCity(r.address.city);
	    }
	});
	$(function() {
		var apartmentDatas = weChatOfficialData.Apartments;

		function showApartment(id) {
			var li = "";
			for (var i = 0; i < apartmentDatas.length; i++) {
				var apartment = apartmentDatas[i];
				if (id != apartment.cityCode) continue;
				li +=
					"<li class='list-unstyled'><a href='javascript:void(0)'; onclick='getMap(this,"+apartment.longitude+","+apartment.latitude+")'><img src='/assets/global/img/we-chat-li.png' class='we-chat-li-img'/>" +
					apartment.apartmentName +
					"</a></li>";
			}
            $("#apartmentUl").html(li);
		    $("#apartmentUl").children("li").children("a")[0].click();
		}

		$('button').on('click',
			function() {
				var cityId = $(this).attr("data-id");
				showApartment(cityId);
            });
	});
		
	function getMap(obj,longitude,latitude) {
		if (!longitude || !latitude) {
			notComplete();
			return;
        }
        console.log($(obj).text());
		$("#longitude").val(longitude);
		$("#latitude").val(latitude);
		map.centerAndZoom(new BMap.Point(longitude, latitude), 16);
		map.enableScrollWheelZoom(true);
		var latLong = new BMap.Point(longitude, latitude);
		marker = new BMap.Marker(latLong);
		marker.addEventListener("click",
            function (e) {
                //var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true}});
                //driving.search(currentPosition, latLong);
                location.href =
                    "http://api.map.baidu.com/marker?location=" + latitude + "," + longitude + "&title=" + $(obj).text() + "&content=" + $(obj).text()+"&output=html";
            });
		map.addOverlay(marker);
		//var searchInfoWindow = new BMapLib.SearchInfoWindow(map, "", {
		//	panel  : "panel",         //检索结果面板
		//	searchTypes   :[
		//		BMAPLIB_TAB_TO_HERE  //到这里去
		//	]
		//});
		
        map.addControl(new BMap.MapTypeControl({ mapTypes: [BMAP_NORMAL_MAP] }));
        var marks = $(".BMap_Marker");
        for (var i = 0; i < marks.length; i++) {
            var mark = marks[i];
            $(mark).css("width", "60px").css("height", "60px");
        }
	}

	function notComplete() {
		$("#myAlert").removeClass('hide');
		window.setTimeout(function() { $('#myAlert').addClass('hide') }, 2000);  
    }

    function defaultSelectCity(cityName) {
        var buttons = $("button");
        var isMatch = false;
        for (var i = 0; i < buttons.length; i++) {
            var button = buttons[i];
            if (cityName.indexOf($(button).text()) >= 0) {
                button.click();
                isMatch = true;
            }
        }
        if (!isMatch) {
            buttons[0].click();
        }
    }

</script>

</body>
</html>