@{
	Layout = "~/Views/Shared/_WeChatOfficial.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>走进椿萱--在线客服</title>
</head>
<body>
<div class="container" id="content">
	<div class="page-logo">
		<img src="/assets/global/img/we-chat-official.png" alt="logo" class="we-chat-logo">
	</div>
	<div class="we-chat-content border-radios-10">
	    <div class="content-reply-box">
	        <div class="row">
	            <div class="col-xs-3">
	                <div>
                        <img src="~/assets/global/img/we-chat-waitor.png" style="width:120%" />    
	                </div>
	                
	            </div>
	            <div class="col-xs-9">
	                <div class="reply-content pr">
	                    <span class="arrow">&nbsp;</span>
                        <span style="color:gray">您好！欢迎您使用在线客服，很高兴为您服务！</span>
	                </div>
	            </div>    
	        </div>
	        <div class="row margin-top-20">
	            <div class="col-xs-3">
                    <img src="~/assets/global/img/we-chat-waitor.png" style="width:120%" />
	            </div>
	            <div class="col-xs-9">
	                <div class="reply-content pr">
	                    <span class="arrow">&nbsp;</span>
                        <span style="color:gray">为了方便您了解更多服务信息，8:00-20:00敬请电话垂询<a href="tel:4000863377">400 086 3377</a>，其他时间段请留言，我们的椿萱顾问将第一时间给您回复。</span>
	                </div>
	            </div>    
	        </div>
	    </div>
		<form class="margin-top-20">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
					<input type="text" name="name" id="name" class="form-control" placeholder="请输入姓名"> </div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<input type="text" name="phone" id="phone" class="form-control" placeholder="请输入电话"> </div>
			</div>
			<div class="form-group">
				<div class="input-group" style="width:100%">
					<textarea rows="3" id="userOpinion" class="form-control" placeholder="请您在此处留言" maxlength="200"></textarea>
				</div>
			</div>
			<div class="form-group text-center">
				<button type="button" id="submit" class="btn btn-orange border-radios-20">提交</button>	
			</div>
			<div id="myAlert" class="hide alert alert-success">
				<a href="#" class="close" onclick="$('#myAlert').addClass('hide');">&times;</a>
				<div class="text-center"><strong>恭喜您留言成功。</strong></div>
			</div>
		</form>
	</div>
</div>
<script>
	$(function() {
		$("#submit").on("click",
			function() {
				var passed = validate();
				if (!passed) return;
				var url = "http://211.103.129.210:8802/api/create-wechat-opinion";
				var obj = {};
				obj.name = $("#name").val();
				obj.phone = $("#phone").val();
				obj.opinion = $('#userOpinion').val();
				obj.token = weChatOfficialData.Token;
				$.post(url,obj,
					function(data) {
						clearForm();
                        showSuccess();
					    goToMicroOfficialWeb();
					});
			});

		function validate() {
			var result = true;
			var inputs = $('input');
			for(var i =0;i<inputs.length;i++) {
				var currentInput = inputs[i];
				if (!$(currentInput).val()) {
					$(currentInput).parents('.form-group').addClass('has-error');
					result = false;
				} else {
					$(currentInput).parents('.form-group').removeClass('has-error');
				}
			}
			var userOpinion = $('#userOpinion').val();
			if (!userOpinion) {
				$('#userOpinion').parents('.form-group').addClass('has-error');
				result = false;
			}
		    var regPhone = /^1[0-9]{10}$/;
		    if (!regPhone.test($("#phone").val())) {
		        $("#phone").parents('.form-group').addClass('has-error');
		        result = false;
		    }
		    var regName = /^[\u0391-\uFFE5A-Za-z]+$/;
		    if (!regName.test($("#name").val())) {
		        $("#name").parents('.form-group').addClass('has-error');
		        result = false;
		    }
			return result;
		}

		function clearForm() {
			var inputs = $('input');
			for(var i =0;i<inputs.length;i++) {
				var currentInput = inputs[i];
				$(currentInput).val("");
			}
			$('#userOpinion').val("");
		}

		function showSuccess() {
			$("#myAlert").removeClass('hide');
			window.setTimeout(function() { $('#myAlert').addClass('hide') }, 2000);  
        }

	    function goToMicroOfficialWeb() {
	        var t = setTimeout(doGo, 2000);
	    }

	    function doGo() {
	        location.href = '@Url.Action("MicroOfficialWeb")';
	    }
	})


</script>
</body>
</html>