@{
	Layout = "~/Views/Shared/_WeChatOfficial.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<title>走进椿萱--预约参观</title>
</head>
<body>
<div class="container" id="content">
	<div class="page-logo">
		<img src="/assets/global/img/we-chat-official.png" alt="logo" class="we-chat-logo">
	</div>
	<div class="we-chat-content border-radios-10">
		<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
					<input type="text" name="name" id="name" class="form-control" placeholder="请输入姓名"> </div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<input type="text" name="phone" id="phone" class="form-control" placeholder="请输入电话"> </div>
			</div>
			
			<label>预约时间</label>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<input class="form-control" name="visitDate" id="visitDate" type="date" placeholder="日期">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
					    <select class="form-control" id="visitTime">
					        <option value="09:00">09:00</option>
					        <option value="10:00">10:00</option>
					        <option value="11:00">11:00</option>
					        <option value="12:00">12:00</option>
					        <option value="13:00">13:00</option>
					        <option value="14:00">14:00</option>
					        <option value="15:00">15:00</option>
					        <option value="16:00">16:00</option>
					        <option value="17:00">17:00</option>
					    </select>
					</div>
				</div>

			</div>
			
			<div class="form-group">
				<label>城市</label>
				<select class="form-control" name="city" id="CitySelect">
					
				</select>
			</div>
			<div class="form-group">
				<label>公寓/社区</label>
				<select class="form-control" name="apartment" id="ApartmentSelect">
					
				</select>
			</div>
			
			<div class="form-group text-center">
				<button type="button" id="submit" class="btn btn-orange border-radios-20">提交</button>	
			</div>
			<div id="myAlert" class="hide alert alert-success">
				<a href="#" class="close" onclick="$('#myAlert').addClass('hide');">&times;</a>
				<div class="text-center"><strong>恭喜您预约成功。</strong></div>
			</div>
		</form>
	</div>
</div>
<script>
	$(function() {
		var cityDatas = weChatOfficialData.Cities;
		var apartmentDatas = weChatOfficialData.Apartments;
		function setUpPageFunction() {
			var cityOptions = "<option value=''>请选择城市</option>";
			for (var i = 0; i < cityDatas.length; i++) {
				var cityItem =cityDatas[i];
				cityOptions +="<option value='"+cityItem.cityCode+"'>"+cityItem.cityName+"</option>";
			}
			$("#CitySelect").html(cityOptions);

			//城市选项变换
			$("#CitySelect").on("change",
				function() {
					var apartmentOptions = "<option value=''>请选择</option>";
					var cityCode = $(this).val();
					for (var i = 0; i < apartmentDatas.length; i++) {
						var apartment =apartmentDatas[i];
						if(cityCode !=apartment.cityCode) continue;
						apartmentOptions +="<option value='"+apartment.apartmentName+"'>"+apartment.apartmentName+"</option>";
					}
					$("#ApartmentSelect").html(apartmentOptions);
				});

			$("#submit").on("click",
				function() {
					var passed = validate();
					if (!passed) return;
					var url = "http://211.103.129.210:8802/api/create-wechat-visit";
					var obj = {};
					obj.name = $("#name").val();
					obj.phone = $("#phone").val();
					obj.visitDate = $("#visitDate").val();
					obj.visitTime = $("#visitTime").val();
					obj.cityId = $("#CitySelect").val();
					obj.apartmentName = $("#ApartmentSelect").val();
					obj.token = weChatOfficialData.Token;
					$.post(url,obj,
						function(data) {
							clearForm();
                            showSuccess();
						    goToMicroOfficialWeb();
						});
				});
			var today = moment().format("YYYY-MM-DD");
			$("#visitDate").attr('min',today);
		}
		
		function clearForm() {
			var inputs = $('input');
			for(var i =0;i<inputs.length;i++) {
				var currentInput = inputs[i];
				$(currentInput).val("");
			}
			$("#ApartmentSelect").html("");
			$("#CitySelect").val("");
		}

		function showSuccess() {
			$("#myAlert").removeClass('hide');
			window.setTimeout(function() { $('#myAlert').addClass('hide') }, 2000);  
        }

        function goToMicroOfficialWeb() {
            var t = setTimeout(doGo, 2000);
        }

        function doGo() {
            location.href = '@Url.Action("MicroOfficialWeb")';
        }

		function validate() {
			var result = true;
			var inputs = $('input');
			var selects = $('select');
			for(var i =0;i<inputs.length;i++) {
				var currentInput = inputs[i];
				if (!$(currentInput).val()) {
					$(currentInput).parents('.form-group').addClass('has-error');
					result = false;
				} else {
					$(currentInput).parents('.form-group').removeClass('has-error');
				}
			}
			for(i =0;i<selects.length;i++) {
				var currentSelect = selects[i];
				if (!$(currentSelect).val()) {
					$(currentSelect).parents('.form-group').addClass('has-error');
					result = false;
				} else {
					$(currentSelect).parents('.form-group').removeClass('has-error');
				}
			}
			var regPhone = /^1[0-9]{10}$/;
            if (!regPhone.test($("#phone").val())) {
				$("#phone").parents('.form-group').addClass('has-error');
				result = false;
            }
		    var regName = /^[\u0391-\uFFE5A-Za-z]+$/;
            if (!regName.test($("#name").val())) {
                $("#name").parents('.form-group').addClass('has-error');
		        result = false;
		    }
			return result;
		}

		setUpPageFunction();
	});
</script>
</body>
</html>